

<div>
    <h1>Hola, Bienvenidos al Login.</h1>
    <div>
        <label>Nombre:</label>
        <input type="text"></input>
    </div>
     <div>
        <label>Correo:</label>
        <input type="text"></input>
    </div>
    <button>Get Cookie</button>
    <button>Summit</button>
</div>