
<main>
  <div>
    <h3>LOG IN</h3>
    <form action="/api/sessions/login" method="post">
      <div>
        <label for="email">Username (email)</label>
        <input type="email" placeholder="Enter Username" name="email" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        {{!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> --}}
      </div>
    </form>
    <p id="answer">{{answer}}</p>
    <br>
    <a href="/views/register">Registrarse</a>
  </div>
</main>

<script src="/js/login.js"></script>